<%- include('../partials/header') %>

<div class="container-md container-sm">
    <div class="container center">
        <h2><%= episode.name %></h2>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Air-Date:</th>
                    <th scope="col">Episode:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><%= episode.air_date %></td>
                    <td scope="row"><%= episode.episode %></td>
                </tr>
            </tbody>
        </table>        
    </div>
    <div class="container">
        <h3>Characters:</h3>
        <ul class="list">
            <% characters.forEach(c => { %>
                <a href="/character/<%= c.id %>"><%= c.name %></a>
            <% }) %>
        </ul>
    </div>        
</div>
<%- include('../partials/footer') %>