<%- include('../partials/header') %>

<div class="container center text-center center-content container-sm">
    <h2><%= character.name %></h2>
    <img src="<%= character.image %>" alt="picture" class="container center mt-3 modelPicture">
    <div class="container col" style="width: 18rem">
    </div>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Species</th>
                <th scope="col">Gender</th>
                <th scope="col">Origin</th>
                <th scope="col">Favorite?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><%= character.name %></td>
                <td scope="row"><%= character.status %></td>
                <td scope="row"><%= character.species %></td>
                <td scope="row"><%= character.gender %></td>
                <td scope="row"><%= character.origin %></td>
                <td scope="row"><%= character.favorite ? '✔️' : '❌' %></td>
            </tr>
        </tbody>
    </table>
    <% if (character.owner == userId) { %>
        <hr>
        <div class="container mb-3">
            <form class="me-3" action="/character/update/<%= character._id %>?_method=PUT" method="POST">
                <fieldset>
                    <input hidden type="text" name="id" value="<%= character.id %>">
                    <input hidden type="text" name="name" value="<%= character.name %>">
                    <input hidden type="text" name="status" value="<%= character.status %>">
                    <input hidden type="text" name="species" value="<%= character.species %>">
                    <input hidden type="text" name="gender" value="<%= character.gender %>">
                    <input hidden type="text" name="origin" value="<%= character.origin.name %>">
                    <input hidden type="text" name="image" value="<%= character.image %>">
                    <label for="favorite">Favorite?</label>
                    <input type="checkbox" name="favorite" <%= character.favorite ? 'checked' : '' %>>
                </fieldset>
                <input type="submit" class="btn btn-success" value="Update Favorite Character">
            </form>
        </div>
        <form class="me-3" action="/character/delete/<%= character._id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete this Favorite Character">
        </form>
        <% } %>
        <hr>
        <div class="btn-group">
            <a href="/character/all/1" class="btn btn-warning me-3">Back to All Characters</a>
        </div>
        <hr>
        <br><br><h2>Reviews</h2>
        <form id="add-review-form" method="POST"
            action="/character/<%= character._id %>/reviews">
                <label>Review:</label>
                <textarea name="content"></textarea>
            </select>
            <input type="submit" value="Add Review">
        </form>
        <% if (character.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Review</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    <% character.reviews.forEach(function(r) { %>
                        <% }) %>
                        <% character.reviews.forEach(function(r) { %>
                            <tr>
                                <td><%= r.createdAt.toLocaleDateString() %></td>
                                <td><%= r.content %></td>
                                <td>
                                    <form action="/character/<%= r.id %>/<%= character._id %>/reviews?_method=DELETE"
                                        class="delete-form" method="POST">
                                        <button type="submit">X</button>
                            </td>
                        </tr>
        <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
        <% } %>
    </div>
    
    <%- include('../partials/footer') %>