<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% characters.forEach(function(c) {%>
            <div class="card mt-3 me-3 characterCard">
                <img src="<%= c.image %>" alt="picture of person" class="card-img-top mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= c.name %></h5>
                    <a href="/character/<%= c.id %>" class="btn">Learn More</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<div class="text-center mt-3">
    <% if (page > 1) { %>
        <a href="/character/all/<%= page - 1 %>" class="btn btn-primary me-2">Previous</a>
    <% } %>
    <% if (characters.length >= pageSize) { %>
        <a href="/character/all/<%= parseInt(page) + 1 %>" class="btn btn-primary">Next</a>
    <% } %>
    </div>
</div>

<%- include('../partials/footer') %>