<%- include('../partials/header') %>

<div class="container-md container-sm">
    <div class="container center">
        <h2><%= character.name %></h2>
        <div class="container col">
            <img src="<%= character.image %>" alt="picture of person" class="pictureOfPerson">
        </div>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Status:</th>
                    <th scope="col">Species:</th>
                    <th scope="col">Gender:</th>
                    <th scope="col">Origin:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><%= character.status %></td>
                    <td scope="row"><%= character.species %></td>
                    <td scope="row"><%= character.gender %></td>
                    <td scope="row"><%= character.origin.name %></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <% if (loggedIn) {%>
            <h5>Add this to your facortites?</h5>
            <form action="/character/add" method="POST">
                <fieldset>
                    <input hidden type="text" name="id" value="<%= character.id %>">
                    <input hidden type="text" name="name" value="<%= character.name %>">
                    <input hidden type="text" name="status" value="<%= character.status %>">
                    <input hidden type="text" name="species" value="<%= character.species %>">
                    <input hidden type="text" name="gender" value="<%= character.gender %>">
                    <input hidden type="text" name="origin" value="<%= character.origin.name %>">
                    <label for="favorite">Favorite?</label>
                    <input type="checkbox" name="favorite" checked>
                </fieldset>
                <input type="submit" class="btn btn-success" value="Add Character">
            </form>
        <% } else {%>
            <p>Log in to start saving characters!</p>
        <% } %>
        <hr>
    </div>
    <a href="/character/<%= character.episode %>" class="btn">Episodes</a>
    <hr>
    <a href="/character/all/1" class="btn btn-warning">Back to All Characters</a>
</div>
<%- include('../partials/footer') %>